Source: alfred
Section: net
Priority: extra
Maintainer: Wilfried Klaebe (wklaebe@users.noreply.github.com)
Build-Depends: debhelper (>= 9.0.0), quilt, pkg-config
Standards-Version: 3.9.3
Homepage: 

Package: alfred
Architecture: any
Depends: ${misc:Depends}
Description: A.L.F.R.E.D - Almighty Lightweight Fact Remote Exchange Daemon
 alfred is a user space daemon for distributing arbitrary local information over
 the mesh/network in a decentralized fashion. This data can be anything which
 appears to be useful - originally designed to replace the batman-adv
 visualization (vis), you may distribute hostnames, phone books, administration
 information, DNS information, the local weather forecast ...
 .
 alfred runs as daemon in the background of the system. A user may insert
 information by using the alfred binary on the command line, or use special
 programs to communicate with alfred (done via unix sockets). alfred then takes
 care of distributing the local information to other alfred servers on other
 nodes. This is done via IPv6 link-local multicast, and does not require any
 configuration. A user can request data from alfred, and will receive the
 information available from all alfred servers in the network.

Package: batadv-vis
Architecture: any
Depends: ${misc:Depends}, alfred (= ${binary:Version})
Description: batadv-vis - visualize your batman-adv mesh network
 batadv-vis can be used to visualize your batman-adv mesh network. It read
 the neighbor information and local client table and distributes this information
 via alfred in the network. By gathering this local information, any vis node can
 get the whole picture of the network.
 It allows output of different formats (json, graphviz) and replaces the
 in-kernel vis functionality found in older batman-adv kernel modules (<2014).
